@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
:root {
    --primary-color: #0098a1;
    --secondary-color: #333;
    --tertiary-color: #fff;
    --quaternary-color: #f2f2f2;
    --quinary-color: #000;
    --senary-color: #06bac4c0;
}

* {
    font-family: "Spinnaker", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
}

.heading {
    color: var(--secondary-color);
    font-size: 3.5rem;
    padding: 6rem 1rem;
    text-align: center;
    letter-spacing: .2rem;
}

/* .heading span {
    color: var(--primary-color);
} */


header {
    width: 96%;
    background: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    z-index: 1;
}

.header-active {
    top:0;
    width: 100%;
    border-radius: 0;
}

header .logo {
    color: var(--secondary-color);
    font-size: 3rem;
}

header .logo span {
    color: var(--primary-color);
}

header .navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
header .navbar ul li {
    margin: 0 1rem;
}   

header .navbar ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2rem;
    padding: 1rem 2rem;
    transition: .2s linear;
}

header .navbar ul li .active,
header .navbar ul li a:hover {
    color: var(--primary-color);
}

header .fa-bars {
    font-size: 3rem;
    color: var(--primary-color);
    cursor: pointer;
    display: none;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 2rem 10rem;
}

.home .video video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.home .content {
    margin-top: 7rem;
}

.home .content h1 {
    font-size: 6.1vw;
    color: var(--tertiary-color);

}

.home .content p {
    font-size: 1.5vw;
    color: var(--tertiary-color);
    padding-left: 2rem;
    border-left: .3rem solid var(--quaternary-color);
}

.home .form-container form {
    margin-top: 8rem;
    padding: 2rem;
    width: 40rem;
    background-color: var(--quaternary-color);
    border-radius: .5rem;
    z-index: 2;
}

.home .form-container form h3 {
    font-size: 3rem;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 2rem;
}

.home .form-container form span {
    font-size: 2.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--primary-color);
}

.home .form-container form input {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border: none;
    border-radius: .5rem;
    background-color: var(--tertiary-color);
    font-size: 1.5rem;
}
.home .form-container form input[type="submit"] {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    cursor: pointer;
}

.home .form-container form input[type="submit"]:hover {
    background-color: var(--senary-color);
    color: var(--tertiary-color);
}

/* transform menu */
/* header .fa-times{
    transform: rotate(180deg);
    color: var(--greendark);
} */

.feature {
    min-height: 100vh;
    background-color: var(--quaternary-color);
}

.feature .card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.feature .card-container .card {
    width: 30rem;
    margin: 2rem;
    background-color: var(--tertiary-color);
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    overflow: hidden;
    position: relative;
}


.feature .card-container .card img {
    width: 100%;
    height: 25rem;
    border-radius: .5rem;
    object-fit: cover;
}

.feature .card-container .content {
    padding-bottom: 2rem;
    text-align: center;
}

.feature .card-container .content .title {
    color: var(--primary-color);
    font-size: 3rem;
}

.feature .card-container .content p {
    color: var(--secondary-color);
    font-size: 1.4rem;
    padding: 1rem;
}

.feature .card-container .content .stars i {
    padding: 0 .2rem;
    font-size: 2rem;
    color: gold;
}

.feature .card-container .content .btn {
    font-size: 1.7rem;
    margin-top: 1.4rem;
    height: 3.5rem;
    width: 12rem;
    border-radius: .5rem;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    outline: none;
    border: none;
    cursor: pointer;
    transition: .2s linear;
}

.feature .card-container .content .btn:hover {
    background-color: var(--senary-color);
    color: var(--tertiary-color);
}

.feature .card-container .card .discount {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding: 1rem;
    font-size: 2rem;
    border-radius: .5rem;
}

.about {
    min-height: 100vh;
}

.about .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 10rem 2rem 0;
    width: 90%;
    margin: 0 auto;
}

.about .row .image img {
    width: 90%;
    height: 60%;

}

.about .row .content {
    width: 30%;
}

.about .row .content h3 {
    font-size: 4rem;
    color: var(--primary-color);
}

.about .row .content p {
    font-size: 2rem;
    color: var(--secondary-color);
    padding: 1rem 0;
    line-height: 1.5;
}

.about .row .content .btn {
    font-size: 2rem;
    margin-top: 1rem;
    height: 4rem;
    width: 18rem;
    border-radius: .5rem;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    outline: none;
    border: none;
    cursor: pointer;
    transition: .2s linear;
    margin-right: 2rem;
}

.about .row .content .btn:hover {
    background-color: var(--senary-color);
    color: var(--tertiary-color);
}

.gallery {
    min-height: 100vh;
    background-color: var(--quaternary-color);
}

.gallery .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.gallery .box-container .box {
    height: 30rem;
    width: 50rem;
    margin: 2rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.gallery .box-container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery .box-container .box .icons {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, .5));
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.gallery .box-container .box .icons a {
    color: var(--tertiary-color);
    font-size: 2rem;
    padding: 1rem;
    transition: .2s linear;
    text-decoration: none;
}

.gallery .box-container .box .icons a:hover {
    color: var(--senary-color);
}

.review {
    background: url(../img/photographer.jpg), linear-gradient(var(--primary-color), var(--senary-color)) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

.review .heading {
    color: var(--tertiary-color);
    padding-bottom: 4rem;
}

.review .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.review .box-container .box {
    width: 35rem;
    margin: 4rem 2rem;
    padding-bottom: 2rem;
    text-align: center;
    background-color: var(--tertiary-color);
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

.review .box-container .box .image {
    margin-top: -5rem;
}

.review .box-container .box .image img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    border: .7rem solid var(--tertiary-color);
}

.review .box-container .box .content h3 {
    font-size: 2.5rem;
    color: var(--primary-color);

}

.review .box-container .box .content p {
    font-size: 1.4em;
    color: var(--secondary-color);
    padding: .5rem 1.5rem;
}

.review .box-container .box .stars i {
    padding: 1rem .1rem;
    font-size: 2rem;
    color: var(--senary-color);
}

.contact .row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);
}

.contact .row .contact-info {
    padding: 0 10rem;
}

.contact .row .contact-info .box {
    margin: 4rem 2rem;
}

.contact .row .contact-info .box h3 {
    font-size: 2rem;
    color: var(--quinary-color);
}

.contact .row .contact-info .box h3 i {
    color: var(--primary-color)
}

.contact .row .contact-info .box p {
    padding-left: 3rem;
    font-size: 1.7rem;
    color: var(--secondary-color);
}

.contact .row .contact-info .box .email {
    text-transform: lowercase;
}

.contact .row .contact-form-container {
    width: 60rem;

}

.contact .row .contact-form-container h3 {
    font-size: 4rem;
    padding-top: 4rem;
    padding-bottom: 2.5rem;
    color: var(--primary-color);
}

.contact .row .contact-form-container form input {
    outline: none;
    height: 4rem;
    width: 100%;
    background: var(--quaternary-color);
    padding: 0 1rem;
    font-size: 1.4rem;
    border: none;
    border-radius: .5rem;
    margin: 0.5rem 0;
}

.contact .row .contact-form-container form .email {
    text-transform: lowercase;
}

.contact .row .contact-form-container form textarea {
    width: 100%;
    height: 20%;
    background: var(--quaternary-color);
    padding: 1rem;
    font-size: 1.4rem;
    border: none;
    border-radius: .5rem;
    margin: 0.5rem 0;
    resize: none;
}

.contact .row .contact-form-container form input[type="submit"] {
    background: var(--primary-color);
    color: var(--tertiary-color);
    cursor: pointer;
    transition: .2s linear;
    width: 30rem;
}

.contact .row .contact-form-container form input[type="submit"]:hover {
    background: var(--senary-color);
    color: var(--tertiary-color);
}

.newsletter {
    padding: 2rem;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../img/newsletter.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.newsletter h1{
    font-size: 5rem;
    color: var(--tertiary-color);
}

.newsletter p {
    font-size: 2rem;
    color: #eee;
    padding: 1rem 15rem;
}

.newsletter form input {
    outline: none;
    border: none;
    height: 5rem;
}

.newsletter form input[type="email"] {
    width: 40rem;
    padding: 0 1rem;
    color: var(--tertiary-color);
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 2rem;
}

.newsletter form input[type="email"]::placeholder {
    color: #ccc;
}

.newsletter form input[type="submit"] {
    width: 20rem;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    font-size: 2rem;
    cursor: pointer;
    transition: .2s linear;
}

.newsletter form input[type="submit"]:hover {
    background-color: var(--senary-color);
    color: var(--tertiary-color);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background: #222;
}

.footer .credit {
    font-size: 2rem;
    color: #eee;
}

.footer .icons a {
    font-size: 2rem;
    margin: 0 .5rem;
    height: 4rem;
    width: 4rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    text-align: center;
    line-height: 4rem;
    color: var(--tertiary-color);
    transition: .2s linear;
}

.footer .icons a:hover {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    border: none;
}

















/* media queries */
@media screen and (max-width: 992px) {

    header .logo {
        font-size: 2rem;
    }

    header .navbar ul li a{
        padding: 0.5rem 0;
        width: 80%;
        text-align: center;
        font-size: 1.5rem;
    }

    .home {
        flex-flow: column;
        padding: 1.5rem;
    }

    .home .content {
        text-align: center;
    }

    .home .content h1 {
        font-size: 5.5rem;
    }

    .home .content p {
        font-size: 2rem;
        padding-left: 0;
        border-left: none;
        color: var(--secondary-color);
    }

    .about .row .content h3 {
        font-size: 2rem;
        color: var(--primary-color);
    }

    
    .about .row {
        width: 100%;
        padding: 2rem 0;
    }

    .about .row .image {
        width: 70%;
        height: 50%;
        padding: 0;
    }
    .about .row .content p {
        font-size: 1.2rem;
    }
    
}


@media (max-width: 768px) {

    html {
        font-size: 50%;
    }

    header .logo {
        font-size: 3rem;
    }

    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: 5.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background: var(--tertiary-color);
        border-radius: .5rem;
        box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
        z-index: 100;
        transition: .2s linear;
        opacity: 0;
    }

    header .navbar ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    header .navbar ul li {
        margin: 2rem 0;
        width: 100%;
        text-align: center;
    }  

    header .navbar ul li a {
        display: block;
        font-size: 3rem;
    }

    header .nav-toggle {
        /* top: 5.5rem; */
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .about .row {
        flex-direction: column;
        padding: 2rem 0;
    }

    .about .row .image {
        text-align: center;
    }

    .about .row .content {
        width: 80%;
        text-align: center;
        padding-top: 2rem;
    }

    .about .row .content p {
        width: 100%;
        font-size: 1.5rem;
    }

    .contact .row {
        flex-flow: column;
        align-items: flex-start;
        margin-bottom: 5rem;
    }

    .contact .row .contact-form-container {
        width: 90%;
        margin: 0 auto;
    }

    .footer {
        flex-flow: column;
    }

    .footer .credit {
        text-align: center;
        margin: 1rem 0;
    }

}

@media (max-width: 576px) {
    .home .form-container {
        width: 100%;
    }

    .home .form-container form{
        width: 100%;
        margin: 3rem 0;
    }

    .contact .row .contact-form-container form input {
        margin: 1rem 0;
        width: 100%;
    }


    .contact .row .contact-form-container form input[type="submit"] {
        margin: 1rem 0;
        width: 100%;
    }
}